
{% extends "layouts/main_layout.html" %}
{% block body %}
    
    <div class="ui-container">
        <div class="row">
            <div class="col-md-12">
               
                <div class="panel profile-wrap">
                    <!-- HEADER -->
                    <header class="panel-heading clearfix">
                        <h3 class="profile-title pull-left">
                            <strong>ESTUDIANTE:</strong>    {{student.name}} {{student.last_name}} {{student.second_last_name}}
                        </h3>
                        <div class="pull-right">
                            <a href="#" class="btn btn-sm btn-info"><i class="fa fa-pencil"></i></a>
                            <a href="#" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </header>
                    <!-- HEADER ENDS -->
                    
                    <div class="panel-body row">
                        <!-- LEFT COLUMN -->
                        <div class="col-md-4">
                            <div class="profile-thumb">
                                <img src="https://crowdcrafting.org/static/img/placeholder.user.png" alt=""/>
                            </div>
                        </div>
                        <!-- RIGHT COLUMN -->
                        <div class=col-md-4>
                            <div class="profile-info">
                                <h5> Número de identificación </h5>
                                <p>{{student.personal_id}}</p>
                            </div>
                            <div class="profile-info">
                                <h5>Nombre completo </h5>
                                <p>{{student.name}} {{student.last_name}} {{student.second_last_name}}</p>
                            </div>
                            <div class="profile-info">
                                <h5>Fecha de nacimiento </h5>
                                <p>{{student.date_of_birth.strftime('%m/%d/%Y')}}</p>
                            </div>
                            
                        </div>
                        <div class="col-md-4">
                            <div class="profile-info">
                                <h5> Nivel educativo </h5>
                                <p class="text-success">{{student.education_level}}</p>
                            </div>
                            <div class="profile-info">
                                <h5> Año que cursa </h5>
                                <p class="text-success">{{student.education_level_year}}</p>
                            </div>
                            <div class="profile-info">
                                <h5> Sección </h5>
                                <p class="text-success">{{student.education_level_year}} - {{student.section}}</p>
                            </div>
                        </div>
                    </div>
                    
                    
                    <!-- HEADER -->
                    <header class="panel-heading clearfix">
                        <h3 class="profile-title pull-left">
                            RESPONSABLES
                        </h3>
                        <div class="pull-right">
                            <a href="{{url_for('get_create_legal_guardian', student_id=student.student_id)}}" class="btn btn-sm btn-info"><i class="fa fa-plus"></i></a>
                        </div>
                    </header>
                    <!-- HEADER ENDS -->
                    <div class="panel-body row">
                        <!-- LEGAL GUARDIANS-->
                        <div class="col-md-12">
                            <table class="table">
                                
                                <thead>
                                    <tr>
                                        <th>Número de Identificación</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Teléfono</th>
                                        <th>Correo Electrónico</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for guardian in guardians %}
                                        <tr>
                                            <td>{{guardian.personal_id}}</td>
                                            <td>{{guardian.name}}</td>
                                            <td>{{guardian.last_name}}</td>
                                            <td>{{guardian.phone_number}}</td>
                                            <td>{{guardian.email}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    
                    
                </div>
                
            </div>
        </div>
    </div>
    
{% endblock %}